<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Emoji Generating</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">

    <link href="/static/css/jquery-ui.min.css" rel="stylesheet">

    <link href="/static/css/zoom-marker.css" rel="stylesheet">

    <link href="/static/css/reveal.css" rel="stylesheet">
    <link href="/static/css/popModal.css" rel="stylesheet">

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/html2canvas.js"></script>
    <script src="/static/js/jquery.mousewheel.min.js"></script>
    <script src="/static/js/zoom-marker.js"></script>
    <script src="/static/js/jquery.reveal.js"></script>
    <script src="/static/js/popModal.js"></script>
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">

        .imgDiv {
            display: inline-block;
            position: relative;
        }
 
        .imgDiv .delete {
            position: absolute;
            top: 0px;
            right: 0px;
            display: none;
         }
    	
    	.imgDiv .plus .minus{
    		display: none;
    	}

    	#draggable {width: 150px;height: 150px;padding :0.5em;}
    	#textarea {width:500px;height:200px;padding:1em;}
    	textarea { border:2px;background-color:transparent;}
    </style>

    <script>
      $(function(){
        $("#source_img").draggable();
        $("#source_img").resizable();
        $("#load_image").draggable();
        $("#load_image").resizable();
        $("#draggable").resizable();
        $("#draggable").draggable();
        $("#textarea").draggable();
      });

        function useSource(){
            {% load staticfiles %}
            var sp = "<img src=\"{% static urls %}\" />";
            $("#source_img").append(sp);
        }

      	//将图片上传至HTML
        function readFile(fileDom) {
        	  var imgplus = "<button class=\"plus\" onclick=\"resizeImage(1)\"> + </button>";
        	  $("#load_image").append(imgplus);
        	  var imgminus = "<button class=\"minus\" onclick=\"resizeImage(0)\"> - </button>";
        	  $("#load_image").append(imgminus);
        	  var imgdelete = "<button class=\"delete\" onclick=\"deleteImage()\"> X </button><br>";
              $("#load_image").append(imgdelete);
        	  var img = "<img id=\"preview\" />";
        	  $("#load_image").append(img);
              var file = fileDom.files[0];
              var reader = new FileReader();
              
              reader.onload = function(e){
                var image = document.getElementById("preview");
                image.src = e.target.result;
                //image.onload = function(){
                //  alert("!");
                  //ctx.clearRect(0,0,c.width,c.height);
                  //ctx.drawImage(image,0,0);
                //}
              }
              reader.readAsDataURL(file); 
            }

        //添加文本框
        function showtextarea(){
                //var txt1 = "<p>Text</p>"
                var textplus = "<button class=\"plus\" onclick=\"biggerText()\"> + </button>";
                $("#textarea").append(textplus);
                var textminus = "<button class=\"minus\" onclick=\"smallerText()\"> - </button>";
                $("#textarea").append(textminus);
                var textdelete = "<button class=\"delete\" onclick=\"deleteText()\"> X </button><br>";
                $("#textarea").append(textdelete);
                var ta = "<textarea id=\"ta\" style=\"font-size:36px;\"> 请输入文字 </textarea>";
                $("#textarea").append(ta);
                //$("#textarea").append("<textarea style=\"font-size:36px;\"> 请输入文字 </textarea>");
                //document.write("<textarea> 请输入文字 </textarea>");
            }

        //字体加大
        function biggerText(){
            var thisEle = $("#ta").css("font-size"); 
            var textFontSize = parseFloat(thisEle , 10);
            var unit = thisEle.slice(-2); 
            textFontSize += 2;
            $("#ta").css("font-size",  textFontSize + unit );
        }

        //字体减小
        function smallerText(){
            var thisEle = $("#ta").css("font-size"); 
            var textFontSize = parseFloat(thisEle , 10);
            var unit = thisEle.slice(-2); 
            textFontSize -= 2;
            $("#ta").css("font-size",  textFontSize + unit );
        }

        function resizeImage(args){
        	var img = document.getElementById("preview");
        	if(args){
        		img.width = img.width * 1.1;
        		img.height = img.height * 1.1;
        	}
        	else{
        		img.width = img.width / 1.1;
        		img.height = img.height / 1.1;
        	}
        }

        //属性隐藏
        $(document).ready(init);
        function init() {
            $(".imgDiv").mouseenter(function () {
            	$(this).find(".plus").show();
            	$(this).find(".minus").show();
                $(this).find(".delete").show();
 
            });
 
 
            $(".imgDiv").mouseleave(function () {
            	$(this).find(".plus").hide();
            	$(this).find(".minus").hide();
                $(this).find(".delete").hide();
            });
 
        }

        //保存图片
        function takeScreenshot(){
            html2canvas(document.getElementById("myCanvas"),{
                onrendered:function(canvas){
                    document.body.appendChild(canvas);
                }
                });
            }
        
        //删除图片
        function deleteImage(){
        	$("#load_image").empty();
        }

        //删除文字
		    function deleteText(){
        	$("#textarea").empty();
        }

        //图片大小调整
        $(document).ready(function () {
	        $("#preview").zoomMarker({
	            rate: 0.2,
	            markers:[]
	        });
	    })

      $(function(){
        $('#dialogModal_ex1').click(function(){

          $('.dialog_content').dialogModal({

          onOkBut: function() {},

          onCancelBut: function() {},

          onLoad: function() {},

          onClose: function() {},

          });
        });
       });



    </script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">EMOJI GENERATING</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Settings</a></li>
            <li><a href="#">About</a></li>
            <!-- <li><a href="#">Profile</a></li> -->
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="#">   <span class="sr-only">(current)</span></a></li>
            <li><a href="{% url 'img_list' %}"> 搜索资源 </a></li>
            <li onclick="useSource()"><a href="#"> 使用资源 </a></li>
            <li onclick="showtextarea()"><a href="#"> 添加文字 </a> </li>
            <li>
              <a href="#">
              <label for="upload"> 本地图片 
                <input type="file" accept="image/*" id="upload" onchange="readFile(this)" style="display: none"> 
              </label>
              </a>
            </li>
          </ul>
      
          <ul class="nav nav-sidebar">
            <li onclick="takeScreenshot()"><a href="#"> 生成图片 </a></li>
            <li id="dialogModal_ex1"><a href="#"> 上传图片 </a></li>
          </ul>
        </div>
       
        
        <div id="myCanvas" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div id ="source_img">
           
          </div>
          <!--<canvas id="myCanvas" width="1200" height="650" style="border:5px solid black;"> </canvas> -->
          <div class="imgDiv" id = "load_image">

          </div>

          <div class="imgDiv" id = "textarea"> 
            
          </div>

        <!--
          <div id = "draggable" class="ui-widget-content">
            <p> please drag me!</p>
          </div>
        -->

          <div id="dialog_content" class="dialog_content" style="display:none">

          <div class="dialogModal_header">上传图片</div>
          <br><br>
          <form action="{% url 'upload_info' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %} 
          <input type="file" name="img">
          <br>
          <div class="dialogModal_footer">
            <input data-dialogModalBut="ok" type="submit" value="提交" onclick="alert("sucess!")" >
          </div>
          </form>

          </div>

          <script>
           // window.onload = function(){
          //  var load = document.getElementById("upload");
           //   load.addEventListener('change',readFile,false);
           //   var c=document.getElementById("myCanvas");
           //   var cxt=c.getContext("2d");
           // } 
            
          </script>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script>window.jQuery || document.write('<script src="/static/js/jquery.min.js"><\/script>')</script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="/static/js/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
